/* Styling */
.labelformContainer {
    text-align: center;
}
.formContainer {
    position: absolute;
    left: 50%;
    top: 50%;
}
.formPanel {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: 1em auto;
    background: #fff;
    padding: 1em;
    border-radius: 6px;
}
.formLabel {
    display: block;
    margin: 1em 0 0.5em;
    font-size: 11pt;
    color: #666;
}
.formInput {
    width: 100%;
    color: #325a64;
    padding: 0.75em 0.5em;
    font-size: 12pt;
    border-radius: 4px;
    border: 1px solid #cde;
    background: #eef9fe;
    transition: border-color 0.1s;
}
.formInput:focus {
    border-color: #96afc8;
}
.formBtn {
    cursor: pointer;
    background: rgb(128, 208, 199);
    display: block;
    margin: 1.5em 0 1em auto;
    padding: 0.75em 2em;
    border-radius: 100px;
    border: none;
    color: #fff;
    font-size: 12pt;
    font-weight: 700;
    transition: background 0.3s;
}
.formBtn:hover {
    background: rgb(19, 84, 122);
}

.formInput.btnToggle {
    display: none;
}
.formLabel.btnToggle {
    display: inline-block;
    font-size: 14pt;
    font-weight: 700;
    margin: 1em;
    color: #fff;
    cursor: pointer;
}
.inputContainer {
    display: inline-block;
    width: 100%;
}